<div class="form-group"
	ng-class="{'has-error': options.formField.$invalid}">
	<label class="control-label" ng-model="options.options">
		{{options.label}}
		{{options.required ? '*' : ''}}
		<span ng-if="!!options.fieldHelp"><field-help></field-help></span>
	</label>
	<div class="btn-group" 
		ng-model="$parent.result[$parent.options.key || $parent.index]" 
		bs-radio-group >
		<label  class="btn btn-default"
				ng-repeat="(key, option) in options.options">
			<input  type="radio" 
					class="btn btn-default" 
					formly-dynamic-name="options.key"
	                formly-custom-validation="options.validators"
	                id="{{id + '_'+ $index}}"
					aria-describedby="{{id}}_description"
				    ng-value="option.value"
				    ng-required="options.required"
				    >
		    {{option.name}}
		</label>
		<p id="{{id}}_description" class="<span ng-if="!!options.fieldHelp"><field-help></field-help></span>-block" ng-if="option.description">{{option.description}}</p>
	</div>
</div>