<div class="form-group">
	<label for="{{id}}">
		{{options.label || 'Select'}}
		{{options.required ? '*' : ''}}
		<span ng-if="!!options.fieldHelp"><field-help></field-help></span>
	</label>

	<div>
		options.multiple: {{options.multiple}}
	</div>
	<button type="button" 
			class="btn btn-default" 

			data-html="1"
			data-template="views/select.tpl.html"
			data-multiple='multiple'
			data-test='test'
			ng-model="result[options.key || index]"
			ng-required="options.required"
			ng-disabled="options.disabled" 
			ng-options="option.value as option.name group by option.group for option in options.options" 

			bs-select>
	</button>
</div>



