<div class="form-group">
	<label for="{{id}}">
		{{options.label || 'Select'}}
		{{options.required ? '*' : ''}}
		<span field-helper></span>
	</label>

	<button type="button" 
			class="btn btn-default" 

			data-html="1"
			data-template="views/select.tpl.html"
			ng-model="result[options.key || index]"
			ng-required="options.required"
			ng-disabled="options.disabled" 
			ng-options="option.value as option.name group by option.group for option in options.options" 

			bs-select>
	</button>
</div>



