<div class="form-group"
	ng-class="{'has-error': options.formField.$invalid}">
	<label class="control-label" ng-model="options.options">
		{{options.label}}
		{{options.required ? '*' : ''}}
	</label>
	<div class="btn-group" 
		ng-model="$parent.result[$parent.options.key || $parent.index]" 
		bs-checkbox-group>

		<div ng-if="!!options.options || !!options.options.length">
			<label  class="btn btn-default"
					ng-repeat="(key, option) in options.options">
				<input  type="checkbox" 
						formly-dynamic-name="options.key"
		                formly-custom-validation="options.validators"
		                aria-describedby="{{id}}_description"

		                id="{{id + '_'+ $index}}"

						ng-required="options.required"
					    ng-disabled="options.disabled"
					    ng-value="option.value" > 
				{{option.name}}	
			</label>
			<p id="{{id}}_description" class="help-block" ng-if="options.description">{{options.description}}</p>
		</div>	
		<div ng-if="!options.options || !options.options.length">	
			<label  class="btn btn-default">
				<input  type="checkbox" 
						class="btn btn-default"
						formly-dynamic-name="options.key"
		                formly-custom-validation="options.validators"
		                aria-describedby="{{id}}_description"

						ng-required="options.required"
					    ng-disabled="options.disabled"
					    > 
				{{option.name}}	
			</label>
			<p id="{{id}}_description" class="help-block" ng-if="options.description">{{options.description}}</p>
		</div>	
	</div>
</div>
