.jumbotron {
	text-align: center;
}

.jumbotron h1 {
	font-size: 45px;
}

.footer {
	text-align: center;	
	padding: 25px;
}


/* custom style */
.helper {
	cursor: pointer;
}

.select-control {
	width: 100%;
	font-weight: bold;
	position: relative;
}

.select-control .select-group {
	padding: 5px 10px;	
}

.select-control .select-option {
	padding-left: 20px;
	cursor: pointer;
}

.select-control .select {
	width: 100%;
}

.select-control .btn {
	width: 100%; 
	text-align: left;
}

.select-control .caret {
	float: right;
	margin-top: 7px;
}
